{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
  {% if user.is_anonymous %}{% include "admin/color_theme_toggle.html" %}{% endif %}
{% endblock %}

{% block userlinks %}
  {% if user.is_active and user.is_staff %}
    <a href="{% url 'staff_notifications:dashboard' %}">내 알림 설정</a> /
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
